<div class="container">
    <h1>My personal home page.</h1>
    <p>Starting point to learn about me and my projects.</p>
    <%= link_to "About Me", about_url %> |
    <%= link_to "Rails Blog", articles_url %>
</div>
