<div class="container">
    <% if notice %>
        <br>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
        <br>
        <p class="alert alert-warning"><%= alert %></p>
    <% end %>
</div>